USE [master]
GO
/****** Object:  Database [HRSystem]    Script Date: 1/19/2026 7:39:28 AM ******/
CREATE DATABASE [HRSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HRSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HRSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRSystem]
GO
/****** Object:  Table [dbo].[Tbl_Holiday]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Holiday](
	[HolidayId] [uniqueidentifier] NOT NULL,
	[HolidayDate] [date] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[IsWorkingHoliday] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[HolidayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetWorkingDates]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetWorkingDates]
    (@StartDate Date, @EndDate Date)
RETURNS TABLE
AS
RETURN
(
    WITH N AS (
        SELECT TOP (DATEDIFF(DAY, @StartDate, @EndDate) + 1)
               ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1 AS n
        FROM sys.all_objects
    )
    SELECT DATEADD(DAY, n, @StartDate) AS WorkingDay
    FROM N
    WHERE DATEADD(DAY, n, @StartDate) NOT IN (
            SELECT HolidayDate
            FROM Tbl_Holiday
            WHERE ISNULL(IsWorkingHoliday,0) = 0
    )
    -- Removed: AND DATEPART(WEEKDAY, DATEADD(DAY, n, @StartDate)) NOT IN (1, 7)
)
GO
/****** Object:  Table [dbo].[Tbl_Attendance]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Attendance](
	[AttendanceId] [nvarchar](200) NOT NULL,
	[AttendanceCode] [nvarchar](50) NOT NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[AttendanceDate] [datetime2](7) NULL,
	[CheckInTime] [datetime2](7) NULL,
	[CheckInLocation] [nvarchar](50) NULL,
	[CheckOutTime] [datetime2](7) NULL,
	[CheckOutLocation] [nvarchar](50) NULL,
	[WorkingHour] [decimal](4, 2) NULL,
	[HourLateFlag] [int] NULL,
	[HalfDayFlag] [int] NULL,
	[FullDayFlag] [int] NULL,
	[Remark] [nvarchar](200) NULL,
	[IsCheckInLocationSaved] [bit] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[DeleteFlag] [bit] NOT NULL,
	[IsCheckOutLocationSaved] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_CompanyRule]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_CompanyRule](
	[CompanyRuleId] [nvarchar](200) NOT NULL,
	[CompanyRuleCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Value] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Employee]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Employee](
	[EmployeeId] [nvarchar](200) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](200) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[PhoneNo] [nvarchar](50) NOT NULL,
	[ProfileImage] [nvarchar](200) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[ResignDate] [datetime2](7) NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[IsFirstTimeLogin] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
	[Gender] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_EmployeeProject]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_EmployeeProject](
	[EmployeeProjectId] [nvarchar](200) NOT NULL,
	[EmployeeProjectCode] [nvarchar](50) NOT NULL,
	[ProjectCode] [nvarchar](50) NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Leave]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Leave](
	[LeaveId] [varchar](50) NOT NULL,
	[EmployeeCode] [varchar](50) NOT NULL,
	[LeaveType] [varchar](30) NOT NULL,
	[Reason] [varchar](255) NOT NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
	[TotalHours] [decimal](10, 2) NULL,
	[IsPaid] [bit] NULL,
	[Status] [varchar](20) NOT NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[DeleteFlag] [bit] NOT NULL,
	[FullOrHalf] [varchar](20) NOT NULL,
	[LeaveCode] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Location]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Location](
	[LocationId] [nvarchar](200) NOT NULL,
	[LocationCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Latitude] [nvarchar](50) NOT NULL,
	[Longitude] [nvarchar](50) NOT NULL,
	[Radius] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Menu]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Menu](
	[MenuId] [nvarchar](200) NOT NULL,
	[MenuCode] [nvarchar](50) NOT NULL,
	[MenuGroupCode] [nvarchar](50) NULL,
	[MenuName] [nvarchar](200) NOT NULL,
	[Url] [nvarchar](200) NULL,
	[Icon] [nvarchar](200) NULL,
	[SortOrder] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_MenuGroup]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_MenuGroup](
	[MenuGroupId] [nvarchar](200) NOT NULL,
	[MenuGroupCode] [nvarchar](50) NOT NULL,
	[MenuGroupName] [nvarchar](200) NOT NULL,
	[Url] [nvarchar](200) NULL,
	[Icon] [nvarchar](200) NULL,
	[SortOrder] [int] NULL,
	[HasMenuItem] [bit] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Payroll]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Payroll](
	[PayrollId] [nvarchar](50) NOT NULL,
	[PayrollCode] [nvarchar](50) NOT NULL,
	[PayrollSummaryCode] [nvarchar](50) NOT NULL,
	[PayrollDate] [datetime] NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[PayrollMonth] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[TotalWorkingHour] [decimal](18, 2) NULL,
	[LeaveHour] [decimal](18, 2) NULL,
	[ActualWorkingHour] [decimal](18, 2) NULL,
	[BaseSalary] [decimal](18, 2) NULL,
	[Allowance] [decimal](18, 2) NULL,
	[GrossPay] [decimal](18, 2) NULL,
	[Deduction] [decimal](18, 2) NULL,
	[Tax] [decimal](18, 2) NULL,
	[Bonus] [decimal](18, 2) NULL,
	[NetPay] [decimal](18, 2) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PayrollId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_PayrollSummary]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_PayrollSummary](
	[PayrollSummaryId] [int] IDENTITY(1,1) NOT NULL,
	[PayrollSummaryCode] [nvarchar](50) NOT NULL,
	[PayrollMonth] [nvarchar](20) NOT NULL,
	[TotalWorkingDays] [int] NOT NULL,
	[EmployeeCount] [int] NOT NULL,
	[TotalWorkingHours] [decimal](18, 2) NOT NULL,
	[TotalLeaveHours] [decimal](18, 2) NOT NULL,
	[TotalActualWorkingHours] [decimal](18, 2) NOT NULL,
	[TotalBaseSalary] [decimal](18, 2) NOT NULL,
	[TotalNetPay] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PayrollSummaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Permission]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Permission](
	[PermissionId] [nvarchar](200) NOT NULL,
	[PermissionCode] [nvarchar](50) NOT NULL,
	[PermissionName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Project]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Project](
	[ProjectId] [nvarchar](200) NOT NULL,
	[ProjectCode] [nvarchar](50) NOT NULL,
	[ProjectName] [nvarchar](200) NOT NULL,
	[ProjectDescription] [nvarchar](200) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[ProjectStatus] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_RefreshToken]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_RefreshToken](
	[Token] [nvarchar](200) NOT NULL,
	[JwtId] [nvarchar](450) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[RevokedAt] [datetime2](7) NULL,
	[IsRevoked] [bit] NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[DeleteFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_ResetPasswordToken]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_ResetPasswordToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[Token] [nvarchar](100) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[DeleteFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Role]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Role](
	[RoleId] [nvarchar](200) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[RoleName] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_RoleAndMenuPermission]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_RoleAndMenuPermission](
	[RoleAndMenuPermissionId] [nvarchar](200) NOT NULL,
	[RoleAndMenuPermissionCode] [nvarchar](50) NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[MenuGroupCode] [nvarchar](50) NULL,
	[MenuCode] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
	[PermissionCode] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleAndMenuPermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Sequence]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Sequence](
	[SequenceId] [nvarchar](200) NOT NULL,
	[UniqueName] [nvarchar](50) NULL,
	[SequenceNo] [nvarchar](50) NULL,
	[SequenceDate] [datetime2](7) NOT NULL,
	[SequenceType] [nvarchar](50) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SequenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Task]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Task](
	[TaskId] [nvarchar](200) NOT NULL,
	[TaskCode] [nvarchar](50) NOT NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[ProjectCode] [nvarchar](50) NULL,
	[TaskName] [nvarchar](50) NULL,
	[TaskDescription] [nvarchar](200) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[TaskStatus] [nvarchar](50) NULL,
	[WorkingHour] [decimal](4, 2) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Verification]    Script Date: 1/19/2026 7:39:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Verification](
	[VerificationId] [nvarchar](200) NOT NULL,
	[VerificationCode] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[ExpiredTime] [datetime] NULL,
	[IsUsed] [bit] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VerificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Tbl_CompanyRule] ([CompanyRuleId], [CompanyRuleCode], [Description], [Value], [IsActive], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'0F138421-A3D4-4C67-A983-AA16901DD154', N'RL011', N'CheckOutAcceptable', N'16:30', 1, CAST(N'2026-01-18T02:33:12.5104839' AS DateTime2), N'SYSTEM', NULL, NULL, 0)
INSERT [dbo].[Tbl_CompanyRule] ([CompanyRuleId], [CompanyRuleCode], [Description], [Value], [IsActive], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'11D20D86-F3DB-4F77-A2BD-7F81180DE97C', N'RL013', N'CheckOutOneHourLate', N'16', 1, CAST(N'2026-01-18T02:34:28.7179499' AS DateTime2), N'SYSTEM', NULL, NULL, 0)
INSERT [dbo].[Tbl_CompanyRule] ([CompanyRuleId], [CompanyRuleCode], [Description], [Value], [IsActive], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'2B455742-DFAA-428F-BA6F-DE818AA76B1F', N'RL001', N'TotalCasualLeave', N'6', 1, CAST(N'2025-12-19T10:53:33.7866667' AS DateTime2), N'SYSTEM', NULL, NULL, 0)
GO
INSERT [dbo].[Tbl_EmployeeProject] ([EmployeeProjectId], [EmployeeProjectCode], [ProjectCode], [EmployeeCode], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01KCEVR31T35GAY515NX1XZAVA', N'EMP_PRJ_251214_0001', N'PJ_251214_0001', N'EMP_251110_0003', CAST(N'2025-12-14T16:40:21.8193670' AS DateTime2), N'admin', NULL, NULL, 1)
INSERT [dbo].[Tbl_EmployeeProject] ([EmployeeProjectId], [EmployeeProjectCode], [ProjectCode], [EmployeeCode], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01KCZPK6W52G0127S7JW512BMW', N'EMP_PRJ_251221_0001', N'PJ_251214_0001', N'EMP_251110_0003', CAST(N'2025-12-21T05:37:24.3579299' AS DateTime2), N'admin', NULL, NULL, 0)
INSERT [dbo].[Tbl_EmployeeProject] ([EmployeeProjectId], [EmployeeProjectCode], [ProjectCode], [EmployeeCode], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01KF7TBJ3G86X0SG9PVGKW1EN3', N'EMP_PRJ_260118_0001', N'PJ_260118_0001', N'EMP_260118_0001', CAST(N'2026-01-18T05:48:27.1219638' AS DateTime2), N'admin', NULL, NULL, 1)
GO
INSERT [dbo].[Tbl_Leave] ([LeaveId], [EmployeeCode], [LeaveType], [Reason], [FromDate], [ToDate], [TotalHours], [IsPaid], [Status], [ModifiedBy], [ModifiedAt], [CreatedAt], [CreatedBy], [DeleteFlag], [FullOrHalf], [LeaveCode]) VALUES (N'01KF8F7CS8W7G2J3R3YXNZ4XNR', N'EMP_260118_0001', N'MedicalLeave', N'sickness', CAST(N'2026-01-18' AS Date), CAST(N'2026-01-18' AS Date), CAST(8.00 AS Decimal(10, 2)), 1, N'Approved', N'EMP_251110_0003', CAST(N'2026-01-18T11:54:42.7785965' AS DateTime2), CAST(N'2026-01-18T11:53:10.6977158' AS DateTime2), N'EMP_260118_0001', 0, N'FullLeave', N'LV_260118_0002')
INSERT [dbo].[Tbl_Leave] ([LeaveId], [EmployeeCode], [LeaveType], [Reason], [FromDate], [ToDate], [TotalHours], [IsPaid], [Status], [ModifiedBy], [ModifiedAt], [CreatedAt], [CreatedBy], [DeleteFlag], [FullOrHalf], [LeaveCode]) VALUES (N'01KF8H9GDBKMWADKMWZEYCEYG2', N'EMP_260118_0002', N'CasualLeave', N'to travel', CAST(N'2026-01-18' AS Date), CAST(N'2026-01-18' AS Date), CAST(8.00 AS Decimal(10, 2)), 1, N'Rejected', N'EMP_251110_0003', CAST(N'2026-01-18T12:32:11.0081159' AS DateTime2), CAST(N'2026-01-18T12:29:17.0993091' AS DateTime2), N'EMP_260118_0002', 0, N'FullLeave', N'LV_260118_0003')
INSERT [dbo].[Tbl_Leave] ([LeaveId], [EmployeeCode], [LeaveType], [Reason], [FromDate], [ToDate], [TotalHours], [IsPaid], [Status], [ModifiedBy], [ModifiedAt], [CreatedAt], [CreatedBy], [DeleteFlag], [FullOrHalf], [LeaveCode]) VALUES (N'01KF8JFXMA0VWFPS8JEE3KMVE9', N'EMP_260118_0002', N'MedicalLeave', N'Sickness', CAST(N'2026-01-19' AS Date), CAST(N'2026-01-19' AS Date), CAST(4.00 AS Decimal(10, 2)), 1, N'Approved', N'EMP_251110_0003', CAST(N'2026-01-18T12:51:25.6561672' AS DateTime2), CAST(N'2026-01-18T12:50:15.8189641' AS DateTime2), N'EMP_260118_0002', 0, N'HalfLeave', N'LV_260118_0004')
GO
INSERT [dbo].[Tbl_Location] ([LocationId], [LocationCode], [Name], [Latitude], [Longitude], [Radius], [CreatedAt], [CreatedBy], [ModifiedBy], [ModifiedAt], [DeleteFlag]) VALUES (N'01KCED9D3YT26A5XP5ERSB8NX2', N'LOC_251214_0001', N'ACE Data Systems', N'16.849985', N'96.128491', N'35.60', CAST(N'2025-12-14T12:27:40.5424661' AS DateTime2), N'system', NULL, NULL, 0)
INSERT [dbo].[Tbl_Location] ([LocationId], [LocationCode], [Name], [Latitude], [Longitude], [Radius], [CreatedAt], [CreatedBy], [ModifiedBy], [ModifiedAt], [DeleteFlag]) VALUES (N'01KF87V69WS2NYYK0SN2VTYF0V', N'LOC_260118_0001', N'Time City', N'16.8171284', N'96.1282592', N'39.37', CAST(N'2026-01-18T09:44:10.8129031' AS DateTime2), N'system', NULL, NULL, 0)
INSERT [dbo].[Tbl_Location] ([LocationId], [LocationCode], [Name], [Latitude], [Longitude], [Radius], [CreatedAt], [CreatedBy], [ModifiedBy], [ModifiedAt], [DeleteFlag]) VALUES (N'01KF87Z79ZDHXCNAVTKA2KS3PS', N'LOC_260118_0002', N'MICT Park', N'16.8502558', N'96.1261535', N'92', CAST(N'2026-01-18T09:46:22.9115963' AS DateTime2), N'system', N'system', CAST(N'2026-01-18T12:31:51.3760265' AS DateTime2), 0)
GO
INSERT [dbo].[Tbl_Menu] ([MenuId], [MenuCode], [MenuGroupCode], [MenuName], [Url], [Icon], [SortOrder], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'2145E2F6-30D0-4CC2-B5BF-1CC1ED73B414', N'PROJECT', N'BACKLOG', N'Project', N'/project', N'folder-tree', 2, CAST(N'2026-01-17T15:14:12.0733333' AS DateTime2), N'system', NULL, NULL, 0)
INSERT [dbo].[Tbl_Menu] ([MenuId], [MenuCode], [MenuGroupCode], [MenuName], [Url], [Icon], [SortOrder], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'2F52A32D-5EDC-4743-A958-7801EE6FB7BC', N'ATTENDANCE', N'ATTENDANCE', N'Attendance', N'/attendance', N'clock', 2, CAST(N'2026-01-17T15:14:12.0733333' AS DateTime2), N'system', NULL, NULL, 0)
INSERT [dbo].[Tbl_Menu] ([MenuId], [MenuCode], [MenuGroupCode], [MenuName], [Url], [Icon], [SortOrder], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'6CB93512-B45A-4EA5-9692-4AD213977B0D', N'MENU_ITEM', N'MENU', N'Menu Item', N'/menu_item', N'menu', 1, CAST(N'2026-01-17T15:14:12.0733333' AS DateTime2), N'system', NULL, NULL, 0)
GO
INSERT [dbo].[Tbl_MenuGroup] ([MenuGroupId], [MenuGroupCode], [MenuGroupName], [Url], [Icon], [SortOrder], [HasMenuItem], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'25FA55D3-41D8-4139-B078-3F4839186E9C', N'DASHBOARD', N'Dashboard', N'/dashboard', N'fa-chart-line', 1, 0, CAST(N'2026-01-17T15:13:56.4933333' AS DateTime2), N'system', NULL, NULL, 0)
INSERT [dbo].[Tbl_MenuGroup] ([MenuGroupId], [MenuGroupCode], [MenuGroupName], [Url], [Icon], [SortOrder], [HasMenuItem], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'6B86235A-8711-47FE-B230-18137E579834', N'MENU', N'Menu', N'', N'fa-list', 4, 1, CAST(N'2026-01-17T15:13:56.4933333' AS DateTime2), N'system', CAST(N'2026-01-17T09:00:44.8443028' AS DateTime2), NULL, 0)
INSERT [dbo].[Tbl_MenuGroup] ([MenuGroupId], [MenuGroupCode], [MenuGroupName], [Url], [Icon], [SortOrder], [HasMenuItem], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'83A360D1-8F86-4E2E-9F77-39519C96A826', N'LEAVE', N'Leave', N'/leave', N'fa-money-check-alt', 9, 0, CAST(N'2026-01-17T15:13:56.4933333' AS DateTime2), N'system', NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Tbl_PayrollSummary] ON 

INSERT [dbo].[Tbl_PayrollSummary] ([PayrollSummaryId], [PayrollSummaryCode], [PayrollMonth], [TotalWorkingDays], [EmployeeCount], [TotalWorkingHours], [TotalLeaveHours], [TotalActualWorkingHours], [TotalBaseSalary], [TotalNetPay], [CreatedAt], [CreatedBy]) VALUES (1, N'PAY_SUM_202601', N'Jan 2026', 22, 4, CAST(704.00 AS Decimal(18, 2)), CAST(12.00 AS Decimal(18, 2)), CAST(63.15 AS Decimal(18, 2)), CAST(100824.13 AS Decimal(18, 2)), CAST(-49175.87 AS Decimal(18, 2)), CAST(N'2026-01-18T21:25:49.383' AS DateTime), N'EMP_251110_0003')
INSERT [dbo].[Tbl_PayrollSummary] ([PayrollSummaryId], [PayrollSummaryCode], [PayrollMonth], [TotalWorkingDays], [EmployeeCount], [TotalWorkingHours], [TotalLeaveHours], [TotalActualWorkingHours], [TotalBaseSalary], [TotalNetPay], [CreatedAt], [CreatedBy]) VALUES (2, N'PAY_SUM_202512', N'Dec 2025', 23, 1, CAST(184.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-01-18T21:26:09.070' AS DateTime), N'EMP_251110_0003')
SET IDENTITY_INSERT [dbo].[Tbl_PayrollSummary] OFF
GO
INSERT [dbo].[Tbl_Permission] ([PermissionId], [PermissionCode], [PermissionName]) VALUES (N'026EF8AE-98A2-41E2-B348-D686B61712EC', N'DETAILS', N'View details')
INSERT [dbo].[Tbl_Permission] ([PermissionId], [PermissionCode], [PermissionName]) VALUES (N'3B65DC71-E93C-4421-8429-152DC37E979A', N'LIST', N'View / List records')
INSERT [dbo].[Tbl_Permission] ([PermissionId], [PermissionCode], [PermissionName]) VALUES (N'A69194EF-C48E-4423-B8A8-CEA5B9E6F420', N'UPDATE', N'Update / Edit record')
GO
INSERT [dbo].[Tbl_Project] ([ProjectId], [ProjectCode], [ProjectName], [ProjectDescription], [StartDate], [EndDate], [ProjectStatus], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01KDZM07RE3QV6384RJJ9GWX1C', N'PJ_260102_0001', N'AML', N'Anti Money Laundering', CAST(N'2026-01-02T15:07:17.6050000' AS DateTime2), CAST(N'2026-01-02T15:07:17.6050000' AS DateTime2), N'Planned', CAST(N'2026-01-02T15:07:47.3437833' AS DateTime2), N'TestingUser', NULL, NULL, 0)
INSERT [dbo].[Tbl_Project] ([ProjectId], [ProjectCode], [ProjectName], [ProjectDescription], [StartDate], [EndDate], [ProjectStatus], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01KDZM21C4TSHD5MRDRP7RXVZG', N'PJ_260102_0002', N'EBMB', N'Anti Money Laundering', CAST(N'2026-01-01T19:37:17.6050000' AS DateTime2), CAST(N'2026-01-30T04:30:00.0000000' AS DateTime2), N'InProgress', CAST(N'2026-01-02T15:08:46.3409921' AS DateTime2), N'TestingUser', CAST(N'2026-01-18T09:19:04.9890247' AS DateTime2), N'TestingUser', 0)
GO
INSERT [dbo].[Tbl_RefreshToken] ([Token], [JwtId], [ExpiryDate], [RevokedAt], [IsRevoked], [EmployeeCode], [CreatedBy], [CreatedAt], [ModifiedBy], [ModifiedAt], [DeleteFlag]) VALUES (N'01KBYW6GC1SBXWBDQJ7RGG47M7', N'01KBYW6FPQJTQ69QGF2B2T2HG5', CAST(N'2025-12-15T18:10:23.2988741' AS DateTime2), NULL, 0, N'EMP_251114_0001', N'EMP_251114_0001', CAST(N'2025-12-08T18:10:23.2984464' AS DateTime2), NULL, NULL, 0)
INSERT [dbo].[Tbl_RefreshToken] ([Token], [JwtId], [ExpiryDate], [RevokedAt], [IsRevoked], [EmployeeCode], [CreatedBy], [CreatedAt], [ModifiedBy], [ModifiedAt], [DeleteFlag]) VALUES (N'01KBYXRR1Z9Y99ATCZVNXPV1A3', N'01KBYXRQR8MKCT26EJPWR49YPY', CAST(N'2025-12-15T18:37:49.5673410' AS DateTime2), NULL, 0, N'EMP_251114_0001', N'EMP_251114_0001', CAST(N'2025-12-08T18:37:49.5673390' AS DateTime2), NULL, NULL, 0)
INSERT [dbo].[Tbl_RefreshToken] ([Token], [JwtId], [ExpiryDate], [RevokedAt], [IsRevoked], [EmployeeCode], [CreatedBy], [CreatedAt], [ModifiedBy], [ModifiedAt], [DeleteFlag]) VALUES (N'01KBYXSCSCD51S5C1FRV32485Q', N'01KBYXSCFW8PK8ENEBNCWKMRK7', CAST(N'2025-12-15T18:38:10.7968858' AS DateTime2), NULL, 0, N'EMP_251114_0001', N'EMP_251114_0001', CAST(N'2025-12-08T18:38:10.7968844' AS DateTime2), NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Tbl_ResetPasswordToken] ON 

INSERT [dbo].[Tbl_ResetPasswordToken] ([Id], [Email], [Token], [ExpiresAt], [IsUsed], [CreatedAt], [DeleteFlag]) VALUES (4, N'phyuthin2004@gmail.com', N'GSXt1ZgYfsq5VPQ25XAnjQHDgGfQ4CkkAvhIzk8M', CAST(N'2026-01-18T11:30:57.513' AS DateTime), 1, CAST(N'2026-01-18T11:20:57.583' AS DateTime), 0)
INSERT [dbo].[Tbl_ResetPasswordToken] ([Id], [Email], [Token], [ExpiresAt], [IsUsed], [CreatedAt], [DeleteFlag]) VALUES (5, N'phyuthin2004@gmail.com', N'451qAZVImYRkvUk5FRcl7CqlpN6EbGUF4PTgdPRTY', CAST(N'2026-01-18T11:47:30.860' AS DateTime), 0, CAST(N'2026-01-18T11:37:30.860' AS DateTime), 0)
INSERT [dbo].[Tbl_ResetPasswordToken] ([Id], [Email], [Token], [ExpiresAt], [IsUsed], [CreatedAt], [DeleteFlag]) VALUES (6, N'phyuthin2004@gmail.com', N'FSbla9Qb5bCo0EOgqFVdyUTwZYz0bUw85hs6MupUIs', CAST(N'2026-01-18T11:52:36.513' AS DateTime), 1, CAST(N'2026-01-18T11:42:36.513' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Tbl_ResetPasswordToken] OFF
GO
INSERT [dbo].[Tbl_Role] ([RoleId], [RoleCode], [RoleName], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01K9PSD63QPCV094WQBTA808DS', N'RL_251110_0003', N'Administrator', CAST(N'2025-11-10T11:46:17.4675313' AS DateTime2), N'phyuphyu', NULL, NULL, 0)
INSERT [dbo].[Tbl_Role] ([RoleId], [RoleCode], [RoleName], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01KF5JGJNH8NRTSBZBKGR2AY21', N'RL_260117_0002', N'Employee', CAST(N'2026-01-17T08:52:54.0653671' AS DateTime2), N'admin', NULL, NULL, 0)
INSERT [dbo].[Tbl_Role] ([RoleId], [RoleCode], [RoleName], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01KF5JGTE1J3KGECM2EW3S0AVQ', N'RL_260117_0003', N'HR', CAST(N'2026-01-17T08:53:02.0176910' AS DateTime2), N'admin', NULL, NULL, 0)
GO
INSERT [dbo].[Tbl_RoleAndMenuPermission] ([RoleAndMenuPermissionId], [RoleAndMenuPermissionCode], [RoleCode], [MenuGroupCode], [MenuCode], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag], [PermissionCode]) VALUES (N'00601c9c-1e2d-4a94-a57d-6e493addb081', N'RL_260118_0001', N'RL_260117_0002', N'ATTENDANCE', N'ATTENDANCE', CAST(N'2026-01-18T04:35:41.9591353' AS DateTime2), N'admin', CAST(N'2026-01-18T12:31:29.9730579' AS DateTime2), N'admin', 1, N'LIST')
INSERT [dbo].[Tbl_RoleAndMenuPermission] ([RoleAndMenuPermissionId], [RoleAndMenuPermissionCode], [RoleCode], [MenuGroupCode], [MenuCode], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag], [PermissionCode]) VALUES (N'00C03FDE-ED94-4AE0-9AEC-95B60FC49C6A', N'ADMIN-ATTENDANCE-ATTENDANCE-DELETE', N'RL_251110_0003', N'ATTENDANCE', N'ATTENDANCE', CAST(N'2026-01-17T15:14:32.1700000' AS DateTime2), N'SYSTEM', NULL, NULL, 0, N'DELETE')
INSERT [dbo].[Tbl_RoleAndMenuPermission] ([RoleAndMenuPermissionId], [RoleAndMenuPermissionCode], [RoleCode], [MenuGroupCode], [MenuCode], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag], [PermissionCode]) VALUES (N'010c3f70-a52a-4844-b0ec-81e9ca2cc649', N'RL_260118_0004', N'RL_260117_0003', N'ROLE_MENU_PERMISSION', NULL, CAST(N'2026-01-18T10:00:24.2752774' AS DateTime2), N'admin', NULL, NULL, 0, N'CREATE')
GO
INSERT [dbo].[Tbl_Sequence] ([SequenceId], [UniqueName], [SequenceNo], [SequenceDate], [SequenceType], [DeleteFlag]) VALUES (N'019a060b-cb1c-7f6c-bf9a-09535b6a6d46', N'RL', N'0005', CAST(N'2026-01-18T19:01:29.9400000' AS DateTime2), N'TABLE', 0)
INSERT [dbo].[Tbl_Sequence] ([SequenceId], [UniqueName], [SequenceNo], [SequenceDate], [SequenceType], [DeleteFlag]) VALUES (N'019a060b-cb1d-7b04-bc11-8583b3210530', N'USR', N'0001', CAST(N'2025-10-25T18:57:45.8400000' AS DateTime2), N'TABLE', 0)
INSERT [dbo].[Tbl_Sequence] ([SequenceId], [UniqueName], [SequenceNo], [SequenceDate], [SequenceType], [DeleteFlag]) VALUES (N'019a060b-cb1e-7398-97ef-38d6a089783d', N'RL_MENU_PM', N'0001', CAST(N'2025-10-21T16:09:49.0000000' AS DateTime2), N'PERMISSIONS', 0)
GO
INSERT [dbo].[Tbl_Task] ([TaskId], [TaskCode], [EmployeeCode], [ProjectCode], [TaskName], [TaskDescription], [StartDate], [EndDate], [TaskStatus], [WorkingHour], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01KF7VFC9BWSDF4CY65H0PV0HQ', N'TASK_260118_0002', N'EMP_251110_0003', N'PJ_260118_0002', N'develop ui', N'test', CAST(N'2026-01-17T17:30:00.0000000' AS DateTime2), CAST(N'2026-01-17T17:30:00.0000000' AS DateTime2), N'InProgress', CAST(3.00 AS Decimal(4, 2)), CAST(N'2026-01-18T06:08:00.8110544' AS DateTime2), N'sawmonhan', NULL, NULL, 0)
GO
INSERT [dbo].[Tbl_Verification] ([VerificationId], [VerificationCode], [Email], [ExpiredTime], [IsUsed], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01KF5PXNY5JY8KM0BJ166YK06K', N'871986', N'phyuthin2004@gmail.com', CAST(N'2026-01-17T16:42:57.700' AS DateTime), 1, CAST(N'2026-01-17T16:39:57.7020208' AS DateTime2), N'EMP_251110_0003', NULL, NULL, 0)
INSERT [dbo].[Tbl_Verification] ([VerificationId], [VerificationCode], [Email], [ExpiredTime], [IsUsed], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01KF7PJJ56WJ01VETQMVR9SMXX', N'233556', N'phyuthin2004@gmail.com', CAST(N'2026-01-18T11:15:22.247' AS DateTime), 1, CAST(N'2026-01-18T11:12:22.2485113' AS DateTime2), N'EMP_251110_0003', NULL, NULL, 0)
INSERT [dbo].[Tbl_Verification] ([VerificationId], [VerificationCode], [Email], [ExpiredTime], [IsUsed], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01KF7PV720S0P6R4AV0K08V5TP', N'547943', N'phyuthin2004@gmail.com', CAST(N'2026-01-18T11:20:05.793' AS DateTime), 1, CAST(N'2026-01-18T11:17:05.7922472' AS DateTime2), N'EMP_251110_0003', NULL, NULL, 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Atte__013780A26240D576]    Script Date: 1/19/2026 7:39:30 AM ******/
ALTER TABLE [dbo].[Tbl_Attendance] ADD UNIQUE NONCLUSTERED 
(
	[AttendanceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Comp__18933613B32658DE]    Script Date: 1/19/2026 7:39:30 AM ******/
ALTER TABLE [dbo].[Tbl_CompanyRule] ADD UNIQUE NONCLUSTERED 
(
	[CompanyRuleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Empl__1F64254853AB9683]    Script Date: 1/19/2026 7:39:30 AM ******/
ALTER TABLE [dbo].[Tbl_Employee] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Empl__51A84C462DFC4189]    Script Date: 1/19/2026 7:39:30 AM ******/
ALTER TABLE [dbo].[Tbl_EmployeeProject] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeProjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Loca__DDB144D53899B17C]    Script Date: 1/19/2026 7:39:30 AM ******/
ALTER TABLE [dbo].[Tbl_Location] ADD UNIQUE NONCLUSTERED 
(
	[LocationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Menu__868A3A73B9F5D573]    Script Date: 1/19/2026 7:39:30 AM ******/
ALTER TABLE [dbo].[Tbl_Menu] ADD UNIQUE NONCLUSTERED 
(
	[MenuCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Menu__22599E841E7123BB]    Script Date: 1/19/2026 7:39:30 AM ******/
ALTER TABLE [dbo].[Tbl_MenuGroup] ADD UNIQUE NONCLUSTERED 
(
	[MenuGroupCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Permission_Code]    Script Date: 1/19/2026 7:39:30 AM ******/
ALTER TABLE [dbo].[Tbl_Permission] ADD  CONSTRAINT [UQ_Permission_Code] UNIQUE NONCLUSTERED 
(
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Proj__2F3A49488200099C]    Script Date: 1/19/2026 7:39:30 AM ******/
ALTER TABLE [dbo].[Tbl_Project] ADD UNIQUE NONCLUSTERED 
(
	[ProjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Role__D62CB59CC43DADB0]    Script Date: 1/19/2026 7:39:30 AM ******/
ALTER TABLE [dbo].[Tbl_Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_RoleMenu_Group]    Script Date: 1/19/2026 7:39:30 AM ******/
ALTER TABLE [dbo].[Tbl_RoleAndMenuPermission] ADD  CONSTRAINT [UQ_RoleMenu_Group] UNIQUE NONCLUSTERED 
(
	[RoleAndMenuPermissionCode] ASC,
	[MenuGroupCode] ASC,
	[MenuCode] ASC,
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Task__251D0699517AA42E]    Script Date: 1/19/2026 7:39:30 AM ******/
ALTER TABLE [dbo].[Tbl_Task] ADD UNIQUE NONCLUSTERED 
(
	[TaskCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Veri__DA24CB1471918770]    Script Date: 1/19/2026 7:39:30 AM ******/
ALTER TABLE [dbo].[Tbl_Verification] ADD UNIQUE NONCLUSTERED 
(
	[VerificationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Attendance] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_CompanyRule] ADD  DEFAULT (newid()) FOR [CompanyRuleId]
GO
ALTER TABLE [dbo].[Tbl_CompanyRule] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tbl_CompanyRule] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tbl_CompanyRule] ADD  DEFAULT ('SYSTEM') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Tbl_CompanyRule] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Employee] ADD  DEFAULT ((1)) FOR [IsFirstTimeLogin]
GO
ALTER TABLE [dbo].[Tbl_Employee] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_EmployeeProject] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Holiday] ADD  DEFAULT (newid()) FOR [HolidayId]
GO
ALTER TABLE [dbo].[Tbl_Holiday] ADD  DEFAULT ((0)) FOR [IsWorkingHoliday]
GO
ALTER TABLE [dbo].[Tbl_Leave] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tbl_Leave] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Location] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Menu] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_MenuGroup] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Project] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_RefreshToken] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[Tbl_Role] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_RoleAndMenuPermission] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Sequence] ADD  DEFAULT (newid()) FOR [SequenceId]
GO
ALTER TABLE [dbo].[Tbl_Sequence] ADD  DEFAULT (sysdatetime()) FOR [SequenceDate]
GO
ALTER TABLE [dbo].[Tbl_Sequence] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Verification] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
/****** Object:  StoredProcedure [dbo].[GetPayrollList]    Script Date: 1/19/2026 7:39:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetPayrollList]
(   @Bonus DECIMAL(15,0) = 0,
    @EmployeeCode VARCHAR(50),
    @TaxRate DECIMAL(5,2) = 0.05   -- 5% default tax
)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Today DATE = GETDATE();

    -- Payroll end date is always 20th of current month if today >= 20
    -- Otherwise, end date is 20th of previous month
    DECLARE @PayrollEnd DATE;
    DECLARE @PayrollStart DATE;

    IF DAY(@Today) >= 20
    BEGIN
    -- End date = 20th of current month
        SET @PayrollEnd = DATEFROMPARTS(YEAR(@Today), MONTH(@Today), 20);
    -- Start date = 20th of previous month
        SET @PayrollStart = DATEADD(MONTH, -1, @PayrollEnd);
    END
    ELSE
    BEGIN
    -- End date = 20th of previous month
        SET @PayrollEnd = DATEADD(MONTH, -1, DATEFROMPARTS(YEAR(@Today), MONTH(@Today), 20));
    -- Start date = 20th of two months ago
        SET @PayrollStart = DATEADD(MONTH, -1, @PayrollEnd);
    END

    SELECT @PayrollStart AS PayrollStartDate, @PayrollEnd AS PayrollEndDate;

    ------------------------ start of payroll -----------------
    DECLARE @PayrollCode VARCHAR(50) = CONCAT('PYR-', FORMAT(GETDATE(),'yyyyMMddHHmmss'));
    
    --------------------------------leave summary ---------------------------------
    ;WITH LeaveSummary AS (
    SELECT 
        EmployeeCode,
        SUM(CASE WHEN IsPaid = 0 THEN TotalHours ELSE 0 END) AS UnpaidLeaveHours,
        SUM(CASE WHEN IsPaid = 1 THEN TotalHours ELSE 0 END) AS PaidLeaveHours
    FROM Tbl_Leave
    WHERE EmployeeCode = @EmployeeCode
      AND Status = 'Approved'
      AND DeleteFlag = 0
      AND StartDate BETWEEN @PayrollStart AND @PayrollEnd
    GROUP BY EmployeeCode
    ),
    

    ---------------------------- Attendance Summary ------------------------------------

    AttSummary AS (
        SELECT 
            A.EmployeeCode,
            SUM(A.WorkingHour) AS TotalWorkingHour,
            E.Name,
            E.Salary AS BaseSalary
        FROM Tbl_Attendance A
        INNER JOIN Tbl_Employee E
            ON A.EmployeeCode = E.EmployeeCode
        LEFT JOIN Tbl_Holiday H
            ON A.AttendanceDate = H.HolidayDate
        WHERE A.EmployeeCode = @EmployeeCode
          AND AttendanceDate BETWEEN @PayrollStart AND @PayrollEnd
          AND A.DeleteFlag = 0
        GROUP BY A.EmployeeCode, E.Name, E.Salary
    )

    INSERT INTO Tbl_Payroll
    (
        PayrollId,
        PayrollCode,
        EmployeeCode,
        PayrollDate,
        TotalWorkingHour,
        LeaveHour,
        ActualWorkingHour,
        BaseSalary,
        Bonus,
        GrossPay,
        Deduction,
        Tax,
        NetPay,
        Status,
        CreatedBy,
        CreatedAt,
        DeleteFlag
    )
    SELECT
        NEWID(),
        @PayrollCode,
        @EmployeeCode,
        @PayrollEnd,
        TotalWorkingHour,
        L.UnpaidLeaveHours,
        (TotalWorkingHour - L.UnpaidLeaveHours) AS ActualWorkingHour,
        BaseSalary,
        @Bonus,
        (BaseSalary + @Bonus) AS GrossPay,
        (L.UnpaidLeaveHours * (BaseSalary / NULLIF(TotalWorkingHour, 0))) AS Deduction,
        ((BaseSalary + @Bonus) * @TaxRate) AS Tax,
        ((BaseSalary + @Bonus) - ((BaseSalary + @Bonus) * @TaxRate) 
            - (L.UnpaidLeaveHours * (BaseSalary / NULLIF(TotalWorkingHour, 0)))) AS NetPay,
        'FINALIZED',
        'System',
        GETDATE(),
        0
    FROM AttSummary A
    LEFT JOIN LeaveSummary L
    ON A.EmployeeCode = L.EmployeeCode;

    SELECT *
    FROM Tbl_Payroll
    WHERE PayrollCode = @PayrollCode;
END;
GO
/****** Object:  StoredProcedure [dbo].[InitializeFullAdminPermissions]    Script Date: 1/19/2026 7:39:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InitializeFullAdminPermissions]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RoleCode VARCHAR(50) = 'RL001';

    ------------------------------------------------------
    -- 1. Ensure ADMIN role exists
    ------------------------------------------------------
    IF NOT EXISTS (SELECT 1 FROM Tbl_Role WHERE RoleCode = @RoleCode)
    BEGIN
        INSERT INTO Tbl_Role
        (RoleId, RoleCode, RoleName, CreatedAt, CreatedBy, DeleteFlag)
        VALUES
        (NEWID(), @RoleCode, 'Administrator', GETDATE(), 'SYSTEM', 0);
    END

    ------------------------------------------------------
    -- 2. DASHBOARD & PAYROLL (no menu, no permission)
    ------------------------------------------------------
    INSERT INTO Tbl_RoleAndMenuPermission
    (
        RoleAndMenuPermissionId,
        RoleAndMenuPermissionCode,
        RoleCode,
        MenuGroupCode,
        MenuCode,
        PermissionCode,
        CreatedAt,
        CreatedBy,
        DeleteFlag
    )
    SELECT
        NEWID(),
        CONCAT('ADMIN-', mg.MenuGroupCode),
        @RoleCode,
        mg.MenuGroupCode,
        NULL,
        NULL,
        GETDATE(),
        'SYSTEM',
        0
    FROM Tbl_MenuGroup mg
    WHERE mg.MenuGroupCode IN ('DASHBOARD', 'PAYROLL', 'ROLE_MENU_PERMISSION', 'LEAVE')
    AND NOT EXISTS (
        SELECT 1 FROM Tbl_RoleAndMenuPermission x
        WHERE x.RoleCode = @RoleCode
        AND x.MenuGroupCode = mg.MenuGroupCode
    );

    ------------------------------------------------------
    -- 3. COMPANY RULES (permissions, no menu items)
    ------------------------------------------------------
    INSERT INTO Tbl_RoleAndMenuPermission
    (
        RoleAndMenuPermissionId,
        RoleAndMenuPermissionCode,
        RoleCode,
        MenuGroupCode,
        MenuCode,
        PermissionCode,
        CreatedAt,
        CreatedBy,
        DeleteFlag
    )
    SELECT
        NEWID(),
        CONCAT('ADMIN-COMPANY_RULES-', p.PermissionCode),
        @RoleCode,
        'COMPANY_RULES',
        NULL,
        p.PermissionCode,
        GETDATE(),
        'SYSTEM',
        0
    FROM Tbl_Permission p
    WHERE p.PermissionCode IN ('LIST','UPDATE')
    AND NOT EXISTS (
        SELECT 1 FROM Tbl_RoleAndMenuPermission x
        WHERE x.RoleCode = @RoleCode
        AND x.MenuGroupCode = 'COMPANY_RULES'
        AND x.PermissionCode = p.PermissionCode
    );

    ------------------------------------------------------
    -- 4. NORMAL MODULES (menu + full permissions)
    ------------------------------------------------------
    INSERT INTO Tbl_RoleAndMenuPermission
    (
        RoleAndMenuPermissionId,
        RoleAndMenuPermissionCode,
        RoleCode,
        MenuGroupCode,
        MenuCode,
        PermissionCode,
        CreatedAt,
        CreatedBy,
        DeleteFlag
    )
    SELECT
        NEWID(),
        CONCAT(
            'ADMIN-',
            mg.MenuGroupCode, '-',
            m.MenuCode, '-',
            p.PermissionCode
        ),
        @RoleCode,
        mg.MenuGroupCode,
        m.MenuCode,
        p.PermissionCode,
        GETDATE(),
        'SYSTEM',
        0
    FROM Tbl_MenuGroup mg
    JOIN Tbl_Menu m
        ON m.MenuGroupCode = mg.MenuGroupCode
    CROSS JOIN Tbl_Permission p
    WHERE mg.MenuGroupCode NOT IN ('DASHBOARD', 'PAYROLL', 'COMPANY_RULES')
    AND NOT EXISTS (
        SELECT 1 FROM Tbl_RoleAndMenuPermission x
        WHERE x.RoleCode = @RoleCode
        AND x.MenuGroupCode = mg.MenuGroupCode
        AND x.MenuCode = m.MenuCode
        AND x.PermissionCode = p.PermissionCode
    );

    PRINT 'ADMIN permissions initialized with inline rules.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminAttendanceDashboard]    Script Date: 1/19/2026 7:39:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AdminAttendanceDashboard] 
    @Date DATE,
    @DataView INT = 0 -- 1 for Week, 2 for Month
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @StartDate DATE,
        @EndDate DATE;

    -- Date range setup
    IF @DataView = 1
    BEGIN
        -- Monday to Friday of the week containing @Date
        SET @StartDate = DATEADD(DAY, 1 - DATEPART(WEEKDAY, @Date), @Date);
        SET @EndDate   = DATEADD(DAY, 5 - DATEPART(WEEKDAY, @Date), @Date);
    END
    ELSE
    BEGIN
        -- Whole year of @Date
        SET @StartDate = DATEFROMPARTS(YEAR(@Date), 1, 1);
        SET @EndDate   = DATEFROMPARTS(YEAR(@Date), 12, 31);
    END;

    -- Working days only
    SELECT WorkingDay AS DayDate
    INTO #WorkingDays
    FROM fn_GetWorkingDates(@StartDate, @EndDate);

    -- Attendance + Leave aggregation - USING CheckInTime DATE instead of AttendanceDate
    SELECT 
        wd.DayDate AS AttendanceDate,
        COUNT(DISTINCT ta.EmployeeCode) AS Present,
--         COUNT(DISTINCT ta.HalfDayFlag) AS HalfDayLeave,
        COUNT(DISTINCT CASE WHEN l.FullOrHalf = 'HalfLeave' AND l.Status = 'Approved' THEN l.EmployeeCode END) AS HalfDayLeave,
        COUNT(DISTINCT CASE WHEN l.FullOrHalf = 'FullLeave' AND l.Status = 'Approved' THEN l.EmployeeCode END) AS FullDayLeave,
        COUNT(DISTINCT CASE WHEN l.Status <> 'Approved' THEN l.EmployeeCode END) AS Absent
    INTO #TmpResult
    FROM #WorkingDays wd
    LEFT JOIN Tbl_Attendance ta
        ON wd.DayDate = CAST(ta.CheckInTime AS DATE)  -- Changed from AttendanceDate to CheckInTime
       AND ISNULL(ta.DeleteFlag,0) = 0
    LEFT JOIN Tbl_Leave l
        ON wd.DayDate BETWEEN l.FromDate AND l.ToDate
       AND ISNULL(l.DeleteFlag,0) = 0
    GROUP BY wd.DayDate;

    -- Final output
    IF @DataView = 1
    BEGIN
        SELECT FORMAT(AttendanceDate, 'MMM dd yyyy') AS [Date],
               Present,
               HalfDayLeave,
               FullDayLeave,
               Absent
        FROM #TmpResult
        ORDER BY AttendanceDate;
    END
    ELSE
    BEGIN
        SELECT DATENAME(MONTH, AttendanceDate) AS [Date],
               SUM(ISNULL(Present, 0)) AS Present,
               SUM(ISNULL(HalfDayLeave, 0)) AS HalfDayLeave,
               SUM(ISNULL(FullDayLeave, 0)) AS FullDayLeave,
               SUM(ISNULL(Absent, 0)) AS Absent
        FROM #TmpResult
        GROUP BY DATENAME(MONTH, AttendanceDate), MONTH(AttendanceDate)
        ORDER BY MONTH(AttendanceDate);
    END;

    DROP TABLE #WorkingDays, #TmpResult;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EmpAttendanceDashboard]    Script Date: 1/19/2026 7:39:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EmpAttendanceDashboard] @Year INT,
                                                            @EmpCode nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartDate DATE, @EndDate DATE;
    SET @StartDate = DATEFROMPARTS(@Year, 1, 1);
    SET @EndDate = DATEFROMPARTS(@Year, 12, 31);

    -- Get working days for the year
    SELECT WorkingDay as DayDate
    INTO #WorkingDays
    FROM fn_GetWorkingDates(@StartDate, @EndDate);

    -- Calculate Present = Days with any attendance record
    SELECT wd.DayDate                                           as AttendanceDate,
           COUNT(ta.AttendanceId)                               as AttendanceCount, -- Count of attendance records
           MAX(CASE WHEN ta.HourLateFlag = 1 THEN 1 ELSE 0 END) as LateFlag         -- Late if any record marked late
    INTO #TmpResult
    FROM #WorkingDays wd
             LEFT JOIN Tbl_Attendance ta
                       ON wd.DayDate = CAST(ta.CheckInTime AS DATE) -- Use actual work date
                           AND ta.EmployeeCode = @EmpCode
                           AND ISNULL(ta.DeleteFlag, 0) = 0
    GROUP BY wd.DayDate;

    -- Monthly summary
    SELECT DATENAME(month, AttendanceDate)                 as [Month],
--            MONTH(AttendanceDate)                           as MonthNumber,
           COUNT(CASE WHEN AttendanceCount > 0 THEN 1 END) as Present, -- Days with ANY attendance
           SUM(LateFlag)                                   as Late     -- Days marked as late
    FROM #TmpResult
    GROUP BY DATENAME(month, AttendanceDate), MONTH(AttendanceDate)
    ORDER BY MONTH(AttendanceDate);

    DROP TABLE #WorkingDays, #TmpResult;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateCode]    Script Date: 1/19/2026 7:39:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GenerateCode] @CodePrefix NVARCHAR(50),
                                 @GeneratedCode NVARCHAR(100) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TodayDate NVARCHAR(8) = CONVERT(NVARCHAR(8), GETDATE(), 12); -- yymmdd
    DECLARE @CurrentSeqNo INT;
    DECLARE @NewSeqNo NVARCHAR(50);
    DECLARE @UniqueName NVARCHAR(100);
    DECLARE @StoredDate DATE;

    -- Determine UniqueName
--     IF @CodePrefix = 'TASK' AND @ProjectCode IS NOT NULL
--         SET @UniqueName = 'TASK_' + @ProjectCode;
--     ELSE
    SET @UniqueName = @CodePrefix;

    -- Get current sequence and stored date
    SELECT @CurrentSeqNo = TRY_CAST(SequenceNo AS INT),
           @StoredDate = CAST(SequenceDate AS DATE)
    FROM Tbl_Sequence
    WHERE UniqueName = @UniqueName
      AND DeleteFlag = 0;

    -- If no row exists, return NULL
    IF @CurrentSeqNo IS NULL OR @StoredDate IS NULL
        BEGIN
            SET @GeneratedCode = NULL;
            RETURN;
        END

    -- Reset if date is older than today
    IF @StoredDate < CAST(GETDATE() AS DATE)
        SET @CurrentSeqNo = 1;
    ELSE
        SET @CurrentSeqNo = @CurrentSeqNo + 1;

    -- Format sequence number
    SET @NewSeqNo = RIGHT('0000' + CAST(@CurrentSeqNo AS NVARCHAR(50)), 4);

    -- Update sequence
    UPDATE Tbl_Sequence
    SET SequenceNo   = @NewSeqNo,
        SequenceDate = GETDATE()
    WHERE UniqueName = @UniqueName
      AND DeleteFlag = 0;

    -- Build final code
--     IF @CodePrefix = 'TASK' AND @ProjectCode IS NOT NULL
--         SET @GeneratedCode = 'TASK_' + @ProjectCode + '_' + @NewSeqNo;
--     ELSE
        SET @GeneratedCode = @CodePrefix + '_' + @TodayDate + '_' + @NewSeqNo;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_HRAttendanceDashboard]    Script Date: 1/19/2026 7:39:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HRAttendanceDashboard] @Date Date,
                                                  @DataView Int = 0 -- 0 for Current Day, 1 for Week, 2 for Month, 3 for Year
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @StartDate DATE,
        @EndDate DATE,
        @EmpCount INT = 0;

    -- Calculate date range
    IF @DataView = 0 -- Current Day
        BEGIN
            SET @StartDate = @Date;
            SET @EndDate = @Date;
        END
    ELSE
        IF @DataView = 1 -- Weekly
            BEGIN
                SET @StartDate = DATEADD(DAY, 1 - DATEPART(WEEKDAY, @Date), @Date);
                SET @EndDate = DATEADD(DAY, 7 - DATEPART(WEEKDAY, @Date), @Date);
            END
        ELSE
            IF @DataView = 2 -- Monthly
                BEGIN
                    SET @StartDate = DATEFROMPARTS(YEAR(@Date), MONTH(@Date), 1);
                    SET @EndDate = EOMONTH(@Date);
                END
            ELSE
                IF @DataView = 3 -- Yearly
                    BEGIN
                        SET @StartDate = DATEFROMPARTS(YEAR(@Date), 1, 1);
                        SET @EndDate = DATEFROMPARTS(YEAR(@Date), 12, 31);
                    END

    -- Get working days
    SELECT WorkingDay as DayDate
    INTO #WorkingDays
    FROM fn_GetWorkingDates(@StartDate, @EndDate);

    -- Get total active employees
    SELECT @EmpCount = COUNT(1)
    FROM Tbl_Employee
    WHERE ISNULL(DeleteFlag, 0) = 0;

    -- Create temporary table for results
    CREATE TABLE #TmpResult
    (
        Present  INT,
        Late     INT,
        Absent   INT,
        EmpCount INT
    );

    -- Calculate attendance - SIMPLIFIED VERSION
    INSERT INTO #TmpResult
    SELECT
        -- Present: Count days with ANY attendance record (not distinct employees per day)
        COUNT(DISTINCT ta.EmployeeCode)                                        as Present,

        -- Late: Count employees marked as late (any record with HourLateFlag = 1)
        COUNT(DISTINCT CASE WHEN ta.HourLateFlag = 1 THEN ta.EmployeeCode END) as Late,

        -- Absent: Employees with NON-APPROVED leave status
        COUNT(DISTINCT CASE
                           WHEN l.Status != 'Approved'
                               AND l.Status IS NOT NULL
                               THEN l.EmployeeCode
            END)                                                               as Absent,

        @EmpCount
    FROM #WorkingDays wd
             LEFT JOIN Tbl_Attendance ta
                       ON wd.DayDate = CAST(ta.CheckInTime AS DATE)
                           AND ISNULL(ta.DeleteFlag, 0) = 0
             LEFT JOIN Tbl_Leave l
                       ON wd.DayDate BETWEEN l.FromDate AND l.ToDate
                           AND ISNULL(l.DeleteFlag, 0) = 0
    -- Remove the CROSS JOIN - it's causing the issue
    -- Each day will count how many employees were present/late/on non-approved leave

    -- Final aggregated result
    SELECT SUM(ISNULL(Present, 0)) as Present,
           SUM(ISNULL(Late, 0))    as Late,
           SUM(ISNULL(Absent, 0))  as Absent,
           MAX(EmpCount)           as EmpCount
    FROM #TmpResult;

    DROP TABLE #WorkingDays, #TmpResult;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessPayroll]    Script Date: 1/19/2026 7:39:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ProcessPayroll] @PayrollMonth NVARCHAR(7), -- format: 'YYYY-MM'
                                   @CreatedBy NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PayrollStartDate DATE;
    DECLARE @PayrollEndDate DATE;
    DECLARE @WorkingDays INT;
    DECLARE @PayrollDate DATETIME = GETDATE();
    DECLARE @PayrollCodePrefix NVARCHAR(50);
    DECLARE @PayrollSummaryCodePrefix NVARCHAR(50);
    DECLARE @PayrollSummaryCode NVARCHAR(50);
    DECLARE @StandardDailyHours INT;

    -- Derive start and end dates
    SET @PayrollStartDate = CAST(@PayrollMonth + '-01' AS DATE);
    SET @PayrollEndDate = EOMONTH(@PayrollStartDate);

    -- Prefixes
    SELECT TOP 1 @PayrollCodePrefix = UniqueName
    FROM Tbl_Sequence
    WHERE SequenceType = 'PAYROLL';

    SELECT TOP 1 @PayrollSummaryCodePrefix = UniqueName
    FROM Tbl_Sequence
    WHERE SequenceType = 'PAYROLL SUMMARY';

    -- Generate summary code
    SET @PayrollSummaryCode = @PayrollSummaryCodePrefix + '_' + FORMAT(@PayrollStartDate, 'yyyyMM');

    -- Count working days (exclude weekends and holidays)
    WITH DateSeries AS (SELECT @PayrollStartDate AS WorkDate
                        UNION ALL
                        SELECT DATEADD(DAY, 1, WorkDate)
                        FROM DateSeries
                        WHERE DATEADD(DAY, 1, WorkDate) <= @PayrollEndDate)
    SELECT @WorkingDays = COUNT(*)
    FROM DateSeries d
    WHERE DATENAME(WEEKDAY, d.WorkDate) NOT IN ('Saturday', 'Sunday')
      AND NOT EXISTS (SELECT 1
                      FROM Tbl_Holiday h
                      WHERE h.HolidayDate = d.WorkDate
                        AND h.IsWorkingHoliday = 0)
    OPTION (MAXRECURSION 0);

    -- Get RL005 standard daily hours
    SELECT @StandardDailyHours = CAST(Value AS INT)
    FROM Tbl_CompanyRule r
    WHERE r.CompanyRuleCode = 'RL005';

    -- Cursor for employees
--     DECLARE EmployeeCursor CURSOR FOR
--         SELECT EmployeeCode, Salary
--         FROM Tbl_Employee
--         WHERE DeleteFlag = 0
--           AND StartDate <= @PayrollEndDate
--           AND (ResignDate IS NULL OR ResignDate >= @PayrollStartDate);

    -- Cursor for employees - MODIFIED TO FILTER BY ROLE
    DECLARE EmployeeCursor CURSOR FOR
        SELECT e.EmployeeCode, e.Salary
        FROM Tbl_Employee e
                 JOIN Tbl_Role r ON e.RoleCode = r.RoleCode
        WHERE e.DeleteFlag = 0
          AND r.DeleteFlag = 0
          AND r.RoleName IN ('HR', 'Employee') -- Add this filter
          AND e.StartDate <= @PayrollEndDate
          AND (e.ResignDate IS NULL OR e.ResignDate >= @PayrollStartDate);

    DECLARE @EmployeeCode NVARCHAR(50);
    DECLARE @Salary DECIMAL(18, 2);
    DECLARE @TotalWorkingHour DECIMAL(8, 2);
    DECLARE @UnpaidLeaveHour DECIMAL(8, 2) = 0; -- ← ADD THIS LINE
    DECLARE @PaidLeaveHour DECIMAL(8, 2);
    DECLARE @ActualWorkingHour DECIMAL(8, 2);
    DECLARE @HourlyRate DECIMAL(18, 2);
    DECLARE @BaseSalary DECIMAL(18, 2);
    DECLARE @Allowance DECIMAL(18, 2) = 0;
    DECLARE @Bonus DECIMAL(18, 2) = 0;
    DECLARE @Deduction DECIMAL(18, 2);
    DECLARE @Tax DECIMAL(18, 2) = 0;
    DECLARE @GrossPay DECIMAL(18, 2);
    DECLARE @NetPay DECIMAL(18, 2);
    DECLARE @PayrollCode NVARCHAR(50);

    OPEN EmployeeCursor;
    FETCH NEXT FROM EmployeeCursor INTO @EmployeeCode, @Salary;

    WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Total working hours = working days × RL005 value
            SET @TotalWorkingHour = @WorkingDays * @StandardDailyHours;

            -- Attendance hours
            DECLARE @AttendanceHour DECIMAL(8, 2);
            SELECT @AttendanceHour = ISNULL(SUM(WorkingHour), 0)
            FROM Tbl_Attendance
            WHERE EmployeeCode = @EmployeeCode
              AND AttendanceDate BETWEEN @PayrollStartDate AND @PayrollEndDate
              AND DeleteFlag = 0;

            -- Approved paid leave hours
            SELECT @PaidLeaveHour = ISNULL(SUM(TotalHours), 0)
            FROM Tbl_Leave
            WHERE EmployeeCode = @EmployeeCode
              AND FromDate BETWEEN @PayrollStartDate AND @PayrollEndDate
              AND Status = 'Approved'
              AND IsPaid = 1
              AND DeleteFlag = 0;

            -- Actual working hours = attendance + paid leave
            SET @ActualWorkingHour = @AttendanceHour + @PaidLeaveHour;

            -- Hourly rate based on monthly salary and working days
            IF @WorkingDays > 0
                SET @HourlyRate = @Salary / (@WorkingDays * @StandardDailyHours);
            ELSE
                SET @HourlyRate = 0;

            -- Base salary = hourly rate × actual working hours
            IF @AttendanceHour > 0
                SET @BaseSalary = ROUND(@HourlyRate * @ActualWorkingHour, 2);
            ELSE
                SET @BaseSalary = 0;
            -- safeguard: no attendance = no pay

            -- Deduction = 0 (paid leave is not deducted)
--             SET @Deduction = 0;

-- Replace with:
-- NEW: Calculate unpaid leave hours (both approved unpaid AND non-approved leaves)
            SELECT @UnpaidLeaveHour = ISNULL(SUM(TotalHours), 0)
            FROM Tbl_Leave
            WHERE EmployeeCode = @EmployeeCode
              AND FromDate BETWEEN @PayrollStartDate AND @PayrollEndDate
              AND DeleteFlag = 0
              AND (
                -- Condition 1: Approved but unpaid leaves
                    (Status = 'Approved' AND IsPaid = 0)
                    OR
                    -- Condition 2: Any non-approved leaves (regardless of IsPaid)
                    Status <> 'Approved'
                );

-- Calculate actual deduction = unpaid hours × hourly rate
            SET @Deduction = ROUND(@UnpaidLeaveHour * @HourlyRate, 2);
            
            -- Gross & Net
            SET @GrossPay = @BaseSalary + @Allowance + @Bonus;
            SET @NetPay = @GrossPay - @Deduction - @Tax;

            -- Payroll code per employee
            SET @PayrollCode = @PayrollCodePrefix + '_' + @EmployeeCode + '_' + FORMAT(@PayrollStartDate, 'yyyyMM');

            -- Insert payroll record
            INSERT INTO Tbl_Payroll (PayrollId, PayrollSummaryCode, PayrollCode, EmployeeCode, PayrollDate,
                                     PayrollMonth, Status,
                                     TotalWorkingHour, LeaveHour, ActualWorkingHour,
                                     BaseSalary, Allowance, GrossPay, Deduction, Tax, Bonus, NetPay,
                                     CreatedBy, CreatedAt, DeleteFlag)
            VALUES (NEWID(), @PayrollSummaryCode, @PayrollCode, @EmployeeCode, @PayrollDate,
                    FORMAT(@PayrollStartDate, 'MMM yyyy'), 'Generated',
                    @TotalWorkingHour, @PaidLeaveHour, @ActualWorkingHour,
                    @BaseSalary, @Allowance, @GrossPay, @Deduction, @Tax, @Bonus, @NetPay,
                    @CreatedBy, GETDATE(), 0);

            FETCH NEXT FROM EmployeeCursor INTO @EmployeeCode, @Salary;
        END

    CLOSE EmployeeCursor;
    DEALLOCATE EmployeeCursor;

    -- Insert monthly payroll summary
    INSERT INTO Tbl_PayrollSummary (PayrollSummaryCode, PayrollMonth, TotalWorkingDays, EmployeeCount,
                                    TotalWorkingHours, TotalLeaveHours, TotalActualWorkingHours,
                                    TotalBaseSalary, TotalNetPay,
                                    CreatedBy, CreatedAt)
    SELECT @PayrollSummaryCode,
           FORMAT(@PayrollStartDate, 'MMM yyyy') AS PayrollMonth,
           @WorkingDays                          AS TotalWorkingDays,
           COUNT(*)                              AS EmployeeCount,
           COALESCE(SUM(TotalWorkingHour), 0)    AS TotalWorkingHours,
           COALESCE(SUM(LeaveHour), 0)           AS TotalLeaveHours,
           COALESCE(SUM(ActualWorkingHour), 0)   AS TotalActualWorkingHours,
           COALESCE(SUM(BaseSalary), 0)          AS TotalBaseSalary,
           COALESCE(SUM(NetPay), 0)              AS TotalNetPay,
           @CreatedBy,
           GETDATE()
    FROM Tbl_Payroll
    WHERE PayrollSummaryCode = @PayrollSummaryCode
      AND DeleteFlag = 0;
END
GO
USE [master]
GO
